/* background #ffffff */
* {
    margin: 0;
    box-sizing: border-box;
    /* font-size: 10px; */
}

a {
    text-decoration: none;
}

/***********top navbar style*****************/
#top-nav {
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #f1f4f6;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
/*********** left-nav-style *********/

/* logo-style */
#lnk-logo-div {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.logo {
    width: 130px;
    height: 40px;
    border: 2px solid;
    border-radius: 3px;
    padding: 2px 5px;
}

.logo>img {
    width: 100%;
    height: 100%;
}
/* logo-style-end */

#top-nav-link{
    margin-left: 25px;
}
#top-nav-link ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
}
#top-nav-link ul li a {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/******* top-nav-right-style ********/
.profile-navigation-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    box-sizing: border-box;
}

#profile-navigation {
    height: 60px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;

}

/* Sign In and Login */
/* #profile-navigation>.login-container>a>span {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
} */
.btnSignup{
    font-size: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* Sign In and Login center border*/
#border-login-sigin {
    font-size: 1rem;
    font-weight: 600;
}

/* offer */
.offer {
    margin-right: 30px;
}

.offer span {
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

/* cart-icon */
.cart-container>i {
    font-size: 1rem;
    font-weight: 600;
}

/***************************************** cart-dropdown ******************************************/
.dropdown-content {
    display: none;
    position: absolute;
    right: 8%;
    background-color: #fff;
    min-width: 260px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 1;
    text-align: center;
}

#cart-summary {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 2px solid;
}

#cart-summary>span,
p {
    font-size: 1rem;
    /* font-weight: 600; */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#cart-summary>p>span {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}

#cart-name {
    padding-bottom: 20px;
    padding-top: 10px;
}

#cart-name>span {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

.cart-container:hover .dropdown-content {
    display: block;
}

/********************************* cart-dropdown-end **********************************/

#need-help-container>a>span {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}



/****************** nav-second-row ****************/

#nav-second-row {
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #f1f4f6;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.location-search-div {
    display: flex;
    align-items: center;
}

/********* location-div *******/
.location-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 3px 6px;
    background-color: #f1f4f6;
}

/* location-icon */
.location-container>div>i {
    font-size: 1rem;
    font-weight: 600;
}

/* location-input */
.location-container>div>input {
    padding: 5px 5px;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background-color: #f1f4f6;
}

/********* location-div-end *******/
/************ serch-div ***********/
.searchbar-div {
    display: flex;
    width: 620px;
    align-items: center;
    background-color: #f1f4f6;
    padding: 3px 6px;
    margin-left: 5px;
}

/* search-input */
.searchbar-div>input {
    width: 100%;
    padding: 5px 5px;
    font-size: 0.9rem;
    border: none;
    outline: none;
    background-color: #f1f4f6;
}

/* serach-icon */
.input-serch-icon>i {
    font-size: 1.1rem;
    font-weight: 600;
    color: #abb2b8;
}

/************ serch-div-end ***********/


/************ quick-buy-div ***********/
.quick-buy-bar {
    display: flex;
    margin-left: 140px;
    margin-right: 10px;
}

.quick-buy-bar>span {
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.quick-buy-bar>.quick-icon>i {
    font-size: 0.8rem;
    font-weight: 600;
    color: red;
}

/*** .quick-buy-link-btn ****/
.quick-buy-link {
    padding: 8px 25px;
    border-radius: 5px;
    background: rgb(225, 70, 88);
    margin-left: 15px;
}

.quick-buy-link>a>span {
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

/********** nav-third-row **********/
.nav-third-row {
    width: 100%;
    height: 30px;
    background: #fff;
    border-bottom: 1px solid #f1f4f6;
    display: flex;
    box-sizing: border-box;
}

.nav-third-row>ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: auto;
    flex-wrap: wrap;
}

.nav-third-row li {
    margin-right: 20px;
}

.nav-third-row>ul span {
    font-size: 0.8rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

/********** nav-third-row-end **********/


.na-orange-hover span:hover {
    color: orange;
}

/* menu style first row */
#menu-btn {
    display: none;
    font-size: 2.5rem;
    float: right;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    /* margin-left: 10%; */
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


/************** nav third row dropDown ***************/
/**  1 **/
.dropdown-div{
    display: none;
    background-color: #fff;
    padding: 10px;
    line-height: 25px;
    position: absolute;
    z-index: 1;
}
.dropdown-div>a{
    font-size: 0.8rem;
    display: block;
}
#navThird-linkFirst:hover .dropdown-div{
    display: block;
}
/**  2 **/
.dropdown-div-1{
    display: none;
}
.dropdown-div-1>div{
    display: flex;
    background-color: #fff;
    padding: 10px;
    line-height: 25px;
    position: absolute;
    z-index: 1;
}
.dropdown-div-1>div{
    margin-right: 10px;
    /* border-right: 1px solid; */
}
.dropdown-div-1 a{
    display: block;
    font-size: 0.7rem;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid gray;
}
.dropdown-div-1 a:hover{
    color: orange;
}
#navThird-linkSecond:hover .dropdown-div-1{
    display: block;
}
/** 3 **/
.dropdown-div-2{
    display: none;
}
.dropdown-div-2>div{
    display: flex;
    background-color: #fff;
    padding: 10px;
    line-height: 25px;
    position: absolute;
    z-index: 1;
}
.dropdown-div-2>div{
    margin-right: 10px;
    /* border-right: 1px solid; */
}
.dropdown-div-2 a{
    display: block;
    font-size: 0.7rem;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid gray;
}
.dropdown-div-2 a:hover{
    color: orange;
}
#navThird-linkthird:hover .dropdown-div-2{
    display: block;
}

/* 4 */
.dropdown-div-3{
    display: none;
}
.dropdown-div-3>div{
    display: flex;
    background-color: #fff;
    padding: 10px;
    line-height: 25px;
    position: absolute;
    z-index: 1;
}
.dropdown-div-3>div{
    margin-right: 10px;
    /* border-right: 1px solid; */
}
.dropdown-div-3 a{
    display: block;
    font-size: 0.7rem;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid gray;
}
.dropdown-div-3 a:hover{
    color: orange;
}
#navThird-linkforth:hover .dropdown-div-3{
    display: block;
}

a{
    color:black;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
}























/*******---------------------------------------------- Media Querues -----------------------------------------------*******/

@media  screen and (min-width:768px) and (max-width: 1024px) {

    .profile-navigation-container {
        display: none;
    }
    #lnk-logo-div {
        width: 100%;
    }

    .logo {
        width: 100px;
        height: 30px;
        border: none;
    }

    #top-nav-link ul li a {
        font-size: 1rem;
        font-weight: 600;
        color: black;
    }

    /* menu-btn */
    #menu-btn {
        display: block;
        margin-left: auto;

    }
    /* second -row */
    .location-container {
        padding: 3px 5px;
    }
    .location-container>div>i {     /* location-icon */
        font-size: 1rem;
        font-weight: 600;
    }
    .location-container>div>input { /* location-input */
        padding: 4px 5px;
        width: 100px;
    }
    .searchbar-div {
        width: 320px;
    }
    .searchbar-div>input { /* search-input */
        width: 100%;
        padding: 5px 5px;
        font-size: 1rem;
    }
    /* quick buy bar */
    .quick-buy-bar {
        border: 1px solid ;
        margin-left: 10px;
        margin-right: 0px;
    }
    
    .quick-buy-bar>span {
        font-size: 1rem;
    }
    
    .quick-buy-bar>.quick-icon>i {
        font-size: 1rem;
    }
    
    /*** .quick-buy-link-btn ****/
    .quick-buy-link {
        padding: 8px 5px;
    }
    
    .quick-buy-link>a>span {
        font-size: 1rem;
        font-weight: 500;
    }

}
@media  screen and (min-width:425px) and (max-width: 768PX) {
    .profile-navigation-container {
        display: none;
    }
    #lnk-logo-div {
        width: 100%;
    }

    .logo {
        width: 100px;
        height: 30px;
        border: none;
    }
    #top-nav-link {
        display: none;
    }

    /* menu-btn */
    #menu-btn {
        display: block;
        margin-left: auto;

    }
    /* second -row */
    #nav-second-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .location-container {
        display: none;
    }
    .searchbar-div {
        /* min-width: 420px; */
        width: 59rem 50rem 40rem;
        /* border: 1px solid ; */
        padding: 5px;
        margin: 1px;
        margin: auto;
    }
    .searchbar-div>input { /* search-input */
        width: 100%;
        padding: 5px 5px;
        font-size: 1rem;
        /* border: 1px solid; */
    }
    /* quick buy bar */
    .quick-buy-bar {
        display: none;
    }
    /*** .quick-buy-link-btn ****/
    .quick-buy-link {
        display: none;
    }
    #profile-navigation{
        display: block;
    }


    .nav-third-row {
        display: none;
    }

}
@media  screen and (min-width:320px) and (max-width: 425PX) {
    #big-screen{
        display: none;
    }
}