/* background #ffffff */
*{
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
a{
    text-decoration: none;
}
/***********top navbar style*****************/
/*********** left-nav-style *********/
#top-nav{
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #f1f4f6;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
#lnk-logo{
    /* float: left; */
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.logo{
    width: 130px;
    height: 40px;
    border: 2px solid ;
    border-radius: 3px;
    padding: 2px 5px;
}
.logo>img{
    width: 100%;
    height: 100%;
}


#top-nav-link ul{
    display: flex;
    list-style: none;
}
#top-nav-link ul li a{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/******* top-nav-right-style ********/
.profile-navigation-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    box-sizing: border-box;
}
#profile-navigation{
    height:60px ;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;

}

/* Sign In and Login */
#profile-navigation>.login-container>a>span{
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/* Sign In and Login center border*/
#border-login-sigin{
    font-size: 1.8rem;
    font-weight: 600;
}
/* offer */
.offer{
    margin-right: 30px;
}
.offer span{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
/* cart-icon */
.cart-container>i{
    font-size: 2rem;
    font-weight: 600;
}
/****** cart-dropdown *******/
.dropdown-content{
    display: none;
    position: absolute;
    right: 8%;
    background-color: #fff;
    min-width: 260px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 1;
    text-align: center;
}
#cart-summary{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 2px solid ;
}
#cart-summary>span,p{
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#cart-summary>p>span{
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}
#cart-name{
    padding-bottom: 20px;
    padding-top: 10px;
}
#cart-name>span{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}
.cart-container:hover .dropdown-content{
    display: block;
}
/****** car-dropdown-end *******/

#need-help-container>a>span{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}



/****************** nav-second-row ****************/

#nav-second-row{
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #f1f4f6;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.location-search-div{
    display: flex;
    align-items: center;
}

/********* location-div *******/
.location-container{
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 3px 6px;
    background-color: #f1f4f6;
}
/* location-icon */
.location-container>div>i{
    font-size: 1.6rem;
    font-weight: 600;
}
/* location-input */
.location-container>div>input{
    padding: 5px 5px;
    font-size: 1.4rem;
    border: none;
    outline: none;
    background-color: #f1f4f6;
}
/********* location-div-end *******/
/************ serch-div ***********/
.searchbar-div{
    display: flex;
    width: 620px;
    align-items: center;
    background-color: #f1f4f6;
    padding: 3px 6px;
    margin-left: 5px;
}
/* search-input */
.searchbar-div>input{
    width: 100%;
    padding: 5px 5px;
    font-size: 1.4rem;
    border: none;
    outline: none;
    background-color: #f1f4f6;
}
/* serach-icon */
.input-serch-icon>i{
    font-size: 1.6rem;
    font-weight: 600;
    color: #abb2b8;
}
/************ serch-div-end ***********/


/************ quick-buy-div ***********/
.quick-buy-bar{
    display: flex;
    margin-left: 140px;
    margin-right: 10px;
}
.quick-buy-bar>span{
    font-size: 1.35rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.quick-buy-bar>.quick-icon>i{
    font-size: 1.3rem;
    font-weight: 600;
    color: red;
}
/*** .quick-buy-link-btn ****/
.quick-buy-link{
    padding: 8px 25px;
    border-radius: 5px;
    background: rgb(225, 70, 88);
    margin-left: 15px;
}
.quick-buy-link>a>span{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
/********** nav-third-row **********/
.nav-third-row{
    width: 100%;
    height: 30px;
    background: #fff;
    border-bottom: 1px solid #f1f4f6;
    display: flex;
    box-sizing: border-box;
}
.nav-third-row>ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: auto;
    flex-wrap: wrap;
}
.nav-third-row li{
    margin-right: 20px;
}
.nav-third-row>ul span{
    font-size: 1.35rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
/********** nav-third-row-end **********/


.na-orange-hover span:hover{
    color: orange;
}

/* menu style first row */
.menu-container{
    display: none !important;
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: auto;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    cursor: pointer;
}
.menu-container>i{
    font-size: 2.5rem;
    font-weight: 600;
}
.menu{
    display: none;
}


/******* Media Querues *******/

@media only screen and (max-width: 1200px) {
    .profile-navigation-container{
        display: none;
    }
    .logo{
        width: 100px;
        height: 30px;
        border: none;
    }
    #top-nav-link ul li a{
        font-size: 1.3rem;
        font-weight: 600;
        color: black;
        margin-right: 15px;
    }
    /* .menu-container{
        display: block ;
    } */
}